<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <form action="" method="post">
                <p>Nome</p>
                <input type="text" placeholder="Nome">

                <p>Email</p>
                <input type="email" placeholder="Email">

                <p>Senha</p>
                <input type="password" placeholder="Senha">
                <button type="submit">Logar</button>
            </form>
            
        </div>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>