<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Cadastro do Usuário</h1>
            <p>Salvar nome, Email e senha no MySQL com validação</p>
            <a href="/perfil">ver perfil</a>
            <form action="/register" method="post">
                <p>Nome</p>
                <input type="text" name="nome" placeholder="Nome">

                <p>Email</p>
                <input type="email" name="email" placeholder="Email">

                <p>Senha</p>
                <input type="password" name="senha" placeholder="Senha">

                <p>CPF</p>
                <input type="number" name="cpf" placeholder="cpf">

                <p>Endereço</p>
                <input type="text" name="endereco" placeholder="endereco">

                <p>Estado</p>
                <input type="text" name="estado" placeholder="estado">
                
                <p>Cidade</p>
                <input type="text" name="cidade" placeholder="cidade">

                <button type="submit">Registrar</button>
            </form>
            <div id="msg" class="msg" style="display: none;"></div>
            <ul id="regras"></ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>