<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1> Perfil do Usuário</h1>

    <p><strong>ID</strong> {{usuario.id}}</p>
    <p><strong>Nome:</strong> {{usuario.nome}}</p>
    <p><strong>Email</strong> {{usuario.email}}</p>
    <p><strong>cpf</strong> {{usuario.cpf}}</p>
    <p><strong>endereco</strong> {{usuario.endereco}}</p>
    <p><strong>estado</strong> {{usuario.estado}}</p>
    <p><strong>cidade</strong> {{usuario.cidade}}</p>

    <br>

    <a href="/">Voltar</a>
</body>
</html>